[/]
tools.staticdir.on = True
tools.staticdir.root = os.getcwd() + "/tremv_plot"
tools.staticdir.dir = ""
tools.staticdir.index = "index.html"


[/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"

[/icons]
tools.staticdir.on = True
tools.staticdir.dir = "icons"
